<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Eventory</title>
</head>
<body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="navBc">
            <a class="navbar-brand" id="logo" href="#">Eventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {{#if user.id}}
                <li class="nav-item">
                    <a class="nav-link active" id="myEvents" aria-current="page" href="/dashboard">My Events</a>
                </li>
              {{else}}
                <li class="nav-item">
                      <a class="nav-link active" id="myEvents" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#Modal">My Events</a>
                </li>
              {{/if}}
                <li class="nav-item">
                    <a class="nav-link" id="searchEvents" href="/">All Events</a>
                </li>
                <li>
                    <a href="#" class="login-register-small" href="#" class="login-register"data-bs-toggle="modal" data-bs-target="#register-Modal"> Sign Up</a>
                </li>
                <li>
                    <a href="#" class="login-register-small" data-bs-toggle="modal" data-bs-target="#Modal">Login</a>
                </li>
            </ul>
            </div>
            {{!-- if logged in display logout button --}}
            <ul class="nav navbar-nav navbar-right">
                {{#if user.id}}
                <li><a href="#" class="login-register"data-bs-toggle="modal">Logout</a></li>
                {{else}}
                <li><a href="#" class="login-register"data-bs-toggle="modal" data-bs-target="#register-Modal">Sign Up</a></li>
                <li><a href="#" class="login-register"data-bs-toggle="modal" data-bs-target="#Modal">Login</a></li>
                {{/if}}
              </ul>
        </div>
    </nav>
        <!-- hero -->
        <div class="hero">
            <div class="hero-text-container">
            <h1 class="hero-text">Meet new People.</h1>
            <h1 class="hero-text">Find new places.</h1>
            <h1 class="hero-text">Create new memories.</h1>
            </div>
            <button id="large-create-btn" data-bs-toggle="modal" data-bs-target="#create-event-Modal">Create Event</button>
        </div>
        <!-- All events title -->
          {{{ body }}}
    <!-- login modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='close-button'>X</button>
            </div>
            <div class="modal-body" id="modal-bc">
              <form>
                <div class="form-outline">
                    <label class="form-label" for="typeEmail" id="email-label">Email</label>
                    <input type="email" id="typeEmail" class="form-control" />
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="typePassword" id="pw-label">Password</label>
                    <input type="password" id="typePassword" class="form-control" />
                  </div>
                  <div class="buttons">
                    {{!-- buttons --}}
                    <button type="button" class="register-modal-buttons grey-btn" data-bs-dismiss="modal" id="modal-register-btn">Sign Up</button>
                    <button type="submit" class="register-modal-buttons orange-btn" id="modal-login-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Modal">Login</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- register modal -->
      <div class="modal fade" id="register-Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='close-button'>X</button>
            </div>
            <div class="modal-body" id="modal-bc">
              <form>
                <div class="form-outline">
                    <label class="form-label" for="typeUsername" id="username-label">Username</label>
                    <input type="username" id="typeUsername" class="form-control" />
                  </div>
                <div class="form-outline">
                    <label class="form-label" for="typeEmail" id="email-label">Email</label>
                    <input type="email" id="typeEmail" class="form-control" />
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="typePassword" id="pw-label">Password</label>
                    <input type="password" id="typePassword" class="form-control" />
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="confirmPassword" id="confirm-pw-label">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" />
                  </div>
                  <div class="buttons">
                  {{!-- buttons --}}
                  <button type="submit" class="register-modal-buttons orange-btn" data-bs-dismiss="modal" id="modal-register-btn">Sign Up</button>
                  <button type="button" class="register-modal-buttons grey-btn" id="modal-login-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Modal">Login</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
            {{!-- create Event Modal --}}
            <div class="modal fade" id="create-event-Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Create Event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='close-button'>X</button>
            </div>
            <div class="modal-body" id="modal-bc">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label create-label" for="form6">Event Date</label>
                      <input type="date" id="form4" class="form-control"/>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label create-label" for="form6">Event Time</label>
                      <input type="time" id="form5" class="form-control" />
                    </div>
                  </div>
                </div>
                <!-- Event title input -->
                <div class="form-outline mb-4">
                  <label class="form-label create-label" for="form6">Event Title</label>
                  <input type="text" id="form6" class="form-control long-input" />
                </div>
                <!-- Adress input -->
                <div class="form-outline mb-4">
                  <label class="form-label create-label" for="form6">Address</label>
                  <input type="text" id="form7" class="form-control long-input" placeholder="123 Street ave, City, CA, 12345" />
                </div>
                <!-- Category input -->
                <div class="form-outline mb-4">
                  <label class="form-label create-label" for="form6">Event Category</label>
                  <input type="number" id="form8" class="form-control long-input" placeholder="1" />
                </div>
                <!-- Description input -->
                <div class="form-outline mb-4">
                  <label class="form-label create-label" for="form6">Event Description</label>
                  <textarea class="form-control long-input" id="form9" rows="4"></textarea>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn-primary" id="modal-create-event-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#Modal">Create Event</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
<script src="../../js/index.js"></script>
{{#if user.id}}
<script src="../../js/logout.js"></script>
{{/if}}
</html>