<div class="event-title-container">
    <h1 class="event-title">Created Events</h1>
</div>
<!-- Event grid -->
<div class="grid">
    <div class="container event-grid-container">
        <div class="row">
            {{!-- event cards --}}
            {{#each events as |event|}}
            {{> userCard currentUser=../currentUser}}
            {{/each}}
        </div>
    </div>
    <div class="edit-post-modal">
        {{#each events as |event|}}
        {{> editCard}}
        {{/each}}
    </div>
</div>
<div class="event-title-container">
    <h1 class="event-title">Joined Events</h1>
</div>
<!-- Event grid -->
<div class="grid">
    <div class="container event-grid-container">
        <div class="row">
            {{!-- event cards --}}
            {{#each joinedEvents as |joinedEvent|}}
            {{> userCard currentUser=../currentUser}}
            {{/each}}
        </div>
    </div>
</div>