@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
 
* {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    outline-style: none; 
 }

 *:active, *:focus {
    outline: 0;
    border: none;
    outline-style: none;
  }
 
 .navbar {
     padding: 0;
     box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
 }

 .navbar a {
     margin-left: 50px;
 }

#logo {
    font-size: 64px;
    font-weight: 800;
    color: #EB5E28;
    text-shadow: 0 3px 3px rgba(0,0, 0, 35%);
}

#navBc {
    background-color:#FFFCF2;
}

#myEvents {
    font-size: 35px;
    font-weight: 700;
    color: #403D39;
}

#myEvents:hover {
    color: #EB5E28;
}

#searchEvents {
    font-size: 35px;
    font-weight: 700;
    color: #403D39;
}

#searchEvents:hover {
    color: #EB5E28;
}

.login-register-small {
    display: none;
}

.login-register {
    font-size: 25px;
    font-weight: 700;
    color: #403D39;
}

.login-register:hover {
    color: #EB5E28;
    text-decoration: none;
}

.navbar-right{
    margin-right: 3em;
}


.login-register-container {
    display: flex;
    margin-left: 0px;
    border: solid 1px black;
}

.hero-text {
    font-size: 64px;
    font-weight: 700;
    color:white;
    text-align: center;
}

.hero-text-container {
    padding: 5em;
}

#large-create-btn {
    display: flex;
    margin: 2% auto 5% auto;
    font-size: 32px;
    font-weight: 700;
    background-color: #EB5E28; 
    color:white;
    padding: 0 25px;
    border: 1px solid #EB5E28;
    border-radius: 25px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: none;
}

#large-create-btn:hover {
    box-shadow: 0 0px 30px #EB5E28;
 }
 

.hero {
    margin: 0;
    border: 1px solid black;
    background-image: url("../assets/hero.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.event-title-container {
    background-color: #FFFCF2;
    margin: 0;
    padding: auto;
}

.event-title {
    font-size: 64px;
    font-weight: 800;
    color:#403D39;
    text-align: center;
    padding: 1%;
    margin: 0;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    position: relative;
}

.event-grid-container {
    margin: auto;
    padding: auto;
}

.grid {
    background-color:#EAEAEA;
    margin:0;
    padding: 0;
}

.col {
    margin: 2% auto;
}

.card {
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.card-text {
    font-weight: 700;
    text-align: center;
}

.event-date {
    font-weight: 500;
    margin-left: 10px;
}

.event-time {
    font-weight: 500;
    margin-left: 10px;
}

.small-create-btn {
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: #EB5E28; 
    color:white;
    padding: 0 20px;
    border: 1px solid #EB5E28;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: none;
    outline-style: none;
}

#edit-post {
    background-color: #403D39;
    border: 1px solid #403D39;
    padding: 0 35px;
}

#edit-post:hover {
    box-shadow: 0 0px 15px #403D39;
}

.small-create-btn:hover{
   box-shadow: 0 0px 15px #EB5E28;
}

.small-create-btn:active, .small-create-btn:focus {
    outline: 0;
}

.created-by {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.creator-username {
    font-weight: 700;
    color: #EB5E28;
}

.card-buttons {
    display: flex;
    flex-direction:row;
    width: 70%;
    margin: auto;
}

#edit-button {
    padding: 0 20px;
}

#delete-button {
    padding: 0 15px;
}

#ModalLabel {
    font-size: 90px;
    font-weight: 700;
    margin:auto;
    color: #403D39;
}

#close-button {
    border: none;
}

#email-label {
    color: #EB5E28;
    font-size: 26px;
    padding-left: 7em;
    font-weight: 700;
}

.input-form {
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    width: 60%;
    margin: auto;
}

.register-label {
    color: #EB5E28;
    font-size: 26px;
    padding-left: 7em;
    font-weight: 700;
}

#pw-label {
    color: #EB5E28;
    font-size: 26px;
    padding-left: 6em;
    font-weight: 700;
}

#username-label {
    color: #EB5E28;
    font-size: 26px;
    padding-left: 6em;
    font-weight: 700;
}


.form-outline {
    margin-bottom: 30px;
}

.orange-btn {
    background-color: #EB5E28;
    border: 1px solid #EB5E28; 
}

.grey-btn {
    background-color: #403D39;
    border: 1px solid #403D39;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 40px;
    color:white;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#login-modal-login-btn {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    color:white;
    padding: 5px 54px;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#modal-login-btn {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    color:white;
    padding: 5px 54px;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#modal-register-btn {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 40px;
    color:white;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#modal-register-btn1 {
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 40px;
    color:white;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#confirm-pw-label {
    color: #EB5E28;
    font-size: 26px;
    padding-left: 4em;
    font-weight: 700;
}

.list-group-item {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #EB5E28;
}

.expanded-card-li{
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.close-btn {
    border: none;
    margin-left: 95%;
}

.expanded-card-text {
    color: #403D39;
}

.expanded-card-title {
    font-size: 25px;
    color: #EB5E28;
}

.expanded-join-btn {
    margin-left: 125px;
    font-size: 20px;
    font-weight: 700;
    background-color: #EB5E28; 
    color:white;
    padding: 5px 30px;
    border: 1px solid #EB5E28;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

.expanded-join-btn:hover {
    box-shadow: 0 0 16px #EB5E28;
    color: white;
}

.form-control {
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    margin: auto;
}

.create-label {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    color: #EB5E28;
}

.create-event-nav {
    display: none;
}

.long-input {
    width: 60%;
}

#modal-create-event-btn {
    margin-left: 280px;
    font-size: 20px;
    font-weight: 700;
    background-color: #EB5E28; 
    color:white;
    padding: 5px 30px;
    border: 1px solid #EB5E28;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#confirm-change-btn {
    margin-left: 250px;
    font-size: 20px;
    font-weight: 700;
    background-color: #EB5E28; 
    color:white;
    padding: 5px 30px;
    border: 1px solid #EB5E28;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0, 0, 35%);
    outline: 0;
}

#confirm-change-btn:hover {
    box-shadow: 0 0 16px #EB5E28;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 0;
}

.fail {
    text-align: center;
    font-weight: 700;
    color: red;
}

.hide {
    display: none;
}


@media (max-width:1320px) {
    #myEvents {
        font-size: 25px;
    }
    
    #searchEvents {
        font-size: 25px;

    }

    .login-register {
        font-size: 20px;
    }
    
}

@media (max-width:1156px) {
    #myEvents {
        font-size: 20px;
    }
    
    #searchEvents {
        font-size: 20px;
    }

    .login-register {
        font-size: 15px;
    }
    
}

@media (max-width:991px) {
    .nav {
        display: none;
    }
    #myEvents {
        font-size: 30px;
    }
    
    #searchEvents {
        font-size: 30px;
    }

    .login-register-small {
        display: block;
        font-size: 30px;
        font-weight: 700;
        color: #403D39;
    }
    
    .login-register-small:hover {
        color: #EB5E28;
        text-decoration: none;
    }

    #modal-create-event-btn {
        margin-left: 150px;
        font-size: 18px;
        padding: 5px 10px;
    }

    #ModalLabel {
        font-size: 45px;
    }

    .create-event-nav {
        display: none;
    }
    
}

@media (max-width:767px) {
    .col {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding: 0;
        width: 100%;
    }

    .card {
        width: 100%;
        margin-top: auto;
    }
    
    .hero {
        display: none;
    }

    #logo {
        text-align: center;
        margin: auto;
    }

    #navbarNav {
        text-align: center;
        margin-right: 10%;

    }

    .navbar-toggler {
        margin: 0;
        padding: 0;
    }

    .create-event-nav {
        display: block;
    }
    
    .create-label {
        font-size: 20px;
    }

    #confirm-change-btn {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin: auto;

    }

}

@media (max-width:485px) {
    .expanded-card-img {
        width: 320px;
        height: 200px;
    }

    .expanded-card-body {
        width: 350px;
    }

    .expanded-card-list {
        width: 340px;
    }

    .expanded-join-btn {
        font-size: 18px;
        margin-left: -20px;
        padding: 3px 20px;
    }

    .join-card-body {
        text-align: center;
        width: 350px;
    }

    #ModalLabel {
        font-size: 30px;
    }

    #modal-create-event-btn {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 3px 20px;
    }
}

